@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

body {
  margin: 0%;
  padding: 0%;
  font-family: "Poppins", sans-serif;
}

.text-red {
  color: #ee1243;
}

.search-bar .form-control:focus {
  color: #212529;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}

/* .navbar-light .navbar-toggler-icon {
  background-image: url(/assets/images/menu.png);
} */

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

/* 3 */
.btn-3 {
  background: #EE1243;
background: linear-gradient(0deg, rgb(238, 18, 67) 0%, rgb(238, 18, 67) 100%);
  width: 170px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgb(238, 18, 67);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: rgb(238, 18, 67);
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: rgb(238, 18, 67);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.carousel-item {
  height: 100vh;
}

.carousel-item img {
  object-position: center;
  height: 100vh;
}

.search-box {
  top: 73%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  width: 50%;
}

.vertical-line {
  border-left: 1.5px solid #cbcbcb;
  height: 30px;
}

.dropdown-menu {
  max-height: 139px;
  overflow-y: scroll;
  border: 1px solid rgb(225, 225, 225);
  z-index: 9999999;
}

.btn-secondary:focus {
  box-shadow: none;
}

.hero-text {
  top: calc(100% - 80%);
  /* left: calc(100% - 80%); */
  /* transform: translate(-50%, -50%); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.hero-text h1 {
  font-size: 100px;
}


.oswald {
  font-family: "Oswald", sans-serif !important    ;
}

#electric-cars-list,
#simple-view {
  opacity: 0;
  height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

#electric-cars-list.show,
#simple-view.show {
  opacity: 1;
  height: auto;
}

#toggle-link {
  cursor: pointer;
}

.brand-name {
  color: rgb(100, 100, 100);
  font-size: 13px;
  transition: 0.3s;
}

.brand-name:hover {
  color: #258bda;
}

.brand-logo {
  height: 55px;
  width: 55px;
}

.brand-logo img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.brand-logo img:hover {
  filter: grayscale(1.1);
}
.car-image {
  overflow: hidden;
  height: 280px;
}

.car-image img {
  transition: 0.9s;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.car-image img:hover {
  transform: scale(1.2);
}

.btn-text {
  font-size: 10px;
}

.blog-image {
  height: 200px;
  width: 100%;
  overflow: hidden;
}

.blog-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: 0.4s;
  border-radius: 20px;
}

.blog-image img:hover {
  transform: scale(1.1);
}

.single-blog-picture {
  margin-top: 100px;
  margin-bottom: 30px;
  height: 500px;
  width: 100%;
}

.single-blog-picture img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.bg-orange {
  background-color: #ff4605;
}

.diesel-icon {
  height: 30px;
  width: 30px;
}

.icon {
  height: 25px;
  width: 25px;
}

 
.icon img {
  height: 100%;
  width: 100%;
}

.line {
  padding: 1.5px 0px;
  background-color: rgb(255, 0, 0);
}

.tick-mark-icon {
  height: 15px;
  width: 15px;
}

.tick-mark-icon img {
  height: 100%;
  width: 100%;
}

.features-text {
  font-size: 13px;
  padding-top: 9px;
}

.custom-car-card {
  border-radius: 10px;
  transition: 0.7s;
}

.custom-car-card:hover {
  border: 1px solid #909090;
}

.car-picture {
  height: 160px;
  width: 100%;
}

.car-picture img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.logo-circle {
  height: 50px;
  width: 50px;
  top: calc(100% - 10%);
  right: calc(100% - 95%);
  border-radius: 50%;
  border: 0.4px solid #eaeaea;
}

.car-logo {
  height: 50px !important;
  width: 50px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.car-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.logo-circle img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.model-text {
  font-weight: 500;
  transition: 0.4s;
}

.model-text:hover {
  color: #ee1243 !important;
}

.comment-user {
  height: 70px;
  width: 70px;
}

.comment-user img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

footer {
  background-image: url(/assets/images/footer-bg.png);
  height: 300px;
  background-position: center;
  background-size: cover;
}





/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) { 
  .navbar-collapse {
    display: none;
  }
  .carousel-item {
    height: 70vh;
  }
  .carousel-item img {
    object-fit: cover;
    object-position: center;
  }
  .hero-text {
    top: calc(100% - 57%);
    left: calc(100% - 50%);
    transform: translate(-50%, -50%)  
  }
  .hero-text h1 {
    font-size: 29px;
    text-align: center;
  }
  .search-box {
    width: 60%;
  }
  .diesel-icon {
    height: 20px;
    width: 20px;
  }
  .small-tab-text {
    font-size: 10px;
  }
  .comment-date {
    display: none;
  }
  .single-blog-picture {
    margin-top: 80px;
    margin-bottom: 20px;
    height: 300px;
  }
  footer {
    background-image: url(/assets/images/footer-bg.png);
    height: max-content;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
 }

 
/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .navbar-collapse {
    display: none;
  }
  .carousel-item {
    height: 70vh;
  }
  .carousel-item img {
    object-fit: cover;
    object-position: center;
  }
  .hero-text {
    top: calc(100% - 57%);
  }
  .hero-text h1 {
    font-size: 29px;
  }
  .search-box {
    width: 85%;
  }
  .comment-date {
    display: none;
  }
  .single-blog-picture {
    margin-top: 80px;
    margin-bottom: 20px;
    height: 200px;
  }
  footer {
    background-image: url(/assets/images/footer-bg.png);
    height: max-content;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
}




























































.product-img {
  width: 100%;
  height: 27.2rem;
  position: relative;
  margin-top: 3rem;
  border-radius: 0.5rem;
  background: #ffffff;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img img {
  width: 100%;
  height: 20rem;
  object-fit: contain;
  position: absolute;
  left: 0;

  /* transform: translateX(-50%) rotate(10deg); */
}

@media (max-width: 768.98px) {
  .product-img {
    width: 100%;
    height: 14.5rem;
    position: relative;
    /* margin-bottom: 2rem; */
    border-radius: 0.5rem;
    background: #ffffff;
    overflow: hidden;
  }
  .product-img img {
    width: 100%;
    height: 14.5rem;
    object-fit: contain;
    position: absolute;
    left: 0;
    /* transform: translateX(-50%) rotate(10deg); */
  }
  .product-thumbnail {
    width: 40px !important;
    height: 40px !important;
    object-fit: contain;
  }
}
@media (max-width: 630px) {
  .product-img {
    height: 10rem;
    margin-bottom: 2rem;
  }
  .product-img img {
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
  }
}
@media (max-width: 375px) {
  .product-img {
    height: 15rem;
  }
}

.product-thumbnail-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  gap: 0.3rem;
  background-color: #000000;
  margin: 10px 0px;
  border-radius: 10px;
  padding: 10px;
}

.product-thumbnail {
  background: #000000;
  border: 0.3rem solid #000000;
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 1px solid #000000;
}

.product-thumbnail.active {
  border: 2px solid #fff;
}

.product-thumbnail {
  width: 120px;
  height: 120px;
  object-fit: contain;
}

.product-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-down-animation {
  animation: down 0.5s ease;
}
@keyframes down {
  0% {
    top: -100%;
  }
  100% {
    top: 0%;
  }
}
